src/flows/Add_Products.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignOptyLineItemsforCreation_0</name>
        <label>AssignOptyLineItemsforCreation</label>
        <locationX>1117</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Customer_Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Bid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Olam_Offer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Shipment_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ETD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Splits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Splits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOptyLineItemsforCreation_0_0_0</name>
        <label>AssignOptyLineItemsforCreation</label>
        <locationX>1117</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Sampling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sampling_Status_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Tracking_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tracking_URL_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Quantity_of_Sample_Grams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_of_Sample_Grams_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tracking_Number_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOptyLineItemsforCreation_0_0_0_0</name>
        <label>AssignOptyLineItemsforCreation</label>
        <locationX>966</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Sampling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sampling_Status_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Tracking_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tracking_URL_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Quantity_of_Sample_Grams__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_of_Sample_Grams_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptyLineItemRecord.Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tracking_Number_1_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricebookEntry</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OfferProduct</name>
        <choiceText>Offer Product</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SampleProduct</name>
        <choiceText>Sample Product</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ServiceSamplingStatusChoice</name>
        <choiceText>Samples Sent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Samples Sent</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Valid_Contact_Exists</name>
        <label>Check if Valid Contact Exists</label>
        <locationX>384</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>AddPrimary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCurrentUserProfile</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Choice</name>
        <label>Check Selected Choice</label>
        <locationX>586</locationX>
        <locationY>604</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_Product_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfferProduct</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Offer Product Chosen</label>
        </rules>
        <rules>
            <name>Sample_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SampleProduct</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sample Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Valid_Product</name>
        <label>Check Valid Product</label>
        <locationX>1289</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>CreateOptyLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotValidDairyProduct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OptyLineItemRecord.PricebookEntryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error</targetReference>
            </connector>
            <label>NotValidDairyProduct</label>
        </rules>
        <rules>
            <name>Is_Inactive_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActiveValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_0</targetReference>
            </connector>
            <label>Is Inactive Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCurrentUserProfile</name>
        <label>CheckCurrentUserProfile</label>
        <locationX>524</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>CheckIfGainOpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CocoaPDI</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PDI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cocoa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Develop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defend</stringValue>
                </rightValue>
            </conditions>
            <label>CocoaPDI</label>
        </rules>
        <rules>
            <name>DairyPDI</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dairy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PDI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Develop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Defend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Products_0_0_0</targetReference>
            </connector>
            <label>DairyPDI</label>
        </rules>
        <rules>
            <name>Dairy_Opty_Sales_User</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dairy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dairy Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Develop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Defend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Products_0_0_0</targetReference>
            </connector>
            <label>Dairy Opty Sales User</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfGainOpty</name>
        <label>CheckIfGainOpty</label>
        <locationX>572</locationX>
        <locationY>79</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GainOpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dairy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Products_0</targetReference>
            </connector>
            <label>Dairy GainOpty</label>
        </rules>
        <rules>
            <name>CocoaGain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cocoa</stringValue>
                </rightValue>
            </conditions>
            <label>CocoaGain</label>
        </rules>
        <rules>
            <name>Check_if_Service_Opty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Opty_Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Products_0_0_0_0</targetReference>
            </connector>
            <label>Check if Service Opty</label>
        </rules>
    </decisions>
    <description>Removed add offer product choice for dairy users --&gt; straight to add samples</description>
    <dynamicChoiceSets>
        <name>SamplingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sampling_Status__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AddContactsMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.Olam_Add_PrimaryContact}</expression>
    </formulas>
    <formulas>
        <name>CocoaPricebook</name>
        <dataType>String</dataType>
        <expression>{!$Label.Olam_Cocoa_Pricebook}</expression>
    </formulas>
    <formulas>
        <name>OlamDairyPricebook</name>
        <dataType>String</dataType>
        <expression>{!$Label.Olam_Dairy_Pricebook}</expression>
    </formulas>
    <formulas>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>Add Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOptyLineItem</name>
        <label>CreateOptyLineItem</label>
        <locationX>1298</locationX>
        <locationY>544</locationY>
        <inputReference>OptyLineItemRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_the_Opty_Record</name>
        <label>Get the Opty Record</label>
        <locationX>390</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Valid_Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPricebookEntry</name>
        <label>GetPricebookEntry</label>
        <locationX>1117</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Valid_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OlamDairyPricebook</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OptyLineItemRecord.Product2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>OptyLineItemRecord.PricebookEntryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsActiveValue</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Add_Products_0</name>
        <label>Add Products</label>
        <locationX>893</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignOptyLineItemsforCreation_0</targetReference>
        </connector>
        <fields>
            <name>SelectProducts_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedProductId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Volume</name>
            <dataType>Number</dataType>
            <fieldText>Volume</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Customer_Bid</name>
            <dataType>Currency</dataType>
            <fieldText>Customer Bid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Olam_Offer</name>
            <dataType>Currency</dataType>
            <fieldText>Olam Offer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ETD</name>
            <dataType>Date</dataType>
            <fieldText>ETD</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Splits</name>
            <dataType>Number</dataType>
            <fieldText>Splits</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Products_0_0_0</name>
        <label>Add Products</label>
        <locationX>957</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignOptyLineItemsforCreation_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SelectProducts_0_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedProductId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Sampling_Status_0</name>
            <choiceReferences>SamplingStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sampling Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_of_Sample_Grams_0</name>
            <dataType>Number</dataType>
            <fieldText>Quantity of Sample (Grams)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tracking_Number_1</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tracking_URL_0</name>
            <dataType>String</dataType>
            <fieldText>Tracking URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Products_0_0_0_0</name>
        <label>Add Products</label>
        <locationX>840</locationX>
        <locationY>301</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignOptyLineItemsforCreation_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SelectProducts_0_0_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedProductId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Sampling_Status_0_0</name>
            <choiceReferences>ServiceSamplingStatusChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sampling Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_of_Sample_Grams_0_0</name>
            <dataType>Number</dataType>
            <fieldText>Quantity of Sample (Grams)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tracking_Number_1_0</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tracking_URL_0_0</name>
            <dataType>String</dataType>
            <fieldText>Tracking URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AddPrimary</name>
        <label>AddPrimary</label>
        <locationX>243</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddContact</name>
            <fieldText>&lt;p&gt;{!AddContactsMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Sample_or_Offer</name>
        <label>Choose Sample or Offer</label>
        <locationX>468</locationX>
        <locationY>602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Offer_Choice</name>
            <choiceReferences>SampleProduct</choiceReferences>
            <choiceReferences>OfferProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Offer Choice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>1297</locationX>
        <locationY>155</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidProduct</name>
            <fieldText>&lt;p&gt;This Product does not belong to Dairy. Please select a valid Dairy Product&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error_0</name>
        <label>Display Error</label>
        <locationX>1525</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidProduct_0</name>
            <fieldText>&lt;p&gt;This Product has been deactivated. Please select an Active Dairy Product&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>87</locationY>
        <connector>
            <targetReference>Get_the_Opty_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AddmultiplePrdLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>IsActiveValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultipleLineItemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OptyLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SampleProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSamplingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
