src/flows/Asset_Creation_under_Accounts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetUniqueSKUs</name>
        <label>GetUniqueSKUs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>OpportunityActions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopThruLineItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AccountID</assignToReference>
            <name>accId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newApprovedSKURecordCollectionVar</assignToReference>
            <name>newApprovedSKUList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recordId</assignToReference>
            <name>oppId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddtoAssetCollectionVariable</name>
        <label>AddtoAssetCollectionVariable</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThruLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewAssetCollectionUpdate</name>
        <label>NewAssetCollectionUpdate</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NewAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItemLoopVariable.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItemLoopVariable.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Product_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItemLoopVariable.Product_Configuration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoAssetCollectionVariable</targetReference>
        </connector>
    </assignments>
    <description>added checks for existing approved SKUs, Pramodh Updated to add Config</description>
    <interviewLabel>Asset Creation under Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Creation under Accounts</label>
    <loops>
        <name>LoopThruLineItems</name>
        <label>LoopThruLineItems</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>LineItemLoopVariable</assignNextValueToReference>
        <collectionReference>newApprovedSKURecordCollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewAssetCollectionUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateAssets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAssets</name>
        <label>CreateAssets</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <inputReference>AllAssets</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opty_ID</name>
        <label>Get Opty ID</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUniqueSKUs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClosedDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opty_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AllExistingApprovedSKUs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AllLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ClosedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingSKULoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>LineItemLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>newApprovedSKURecordCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
