src/flows/OptySplitsCreationFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddforCreationVariable</name>
        <label>AddforCreationVariable</label>
        <locationX>976</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>MultipleLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineitemtoAdd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_OptyLineItemRecord.Splits__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_quantity_is_not_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_lineItem</name>
        <label>Assign the lineItem</label>
        <locationX>926</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>LineitemtoAdd.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_OptyLineItemRecord.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineitemtoAdd.Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_OptyLineItemRecord.Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineitemtoAdd.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_OptyLineItemRecord.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineitemtoAdd.Customer_Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_OptyLineItemRecord.Customer_Bid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineitemtoAdd.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_OptyLineItemRecord.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineitemtoAdd.Splits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddforCreationVariable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_quantity_is_not_empty</name>
        <label>Check the quantity is not empty</label>
        <locationX>614</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_OptyLineItemRecord.Splits__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_OptyLineItemRecord.Splits__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_lineItem</targetReference>
            </connector>
            <label>Not blank</label>
        </rules>
        <rules>
            <name>AllItemsReadytocreate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_OptyLineItemRecord.Splits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_LineItems</targetReference>
            </connector>
            <label>AllItemsReadytocreate</label>
        </rules>
    </decisions>
    <description>This flow will create same line items based on the split quantity they entered</description>
    <interviewLabel>OptySplitsCreationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OptySplitsCreationFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_LineItems</name>
        <label>Add LineItems</label>
        <locationX>611</locationX>
        <locationY>421</locationY>
        <inputReference>MultipleLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_the_OptyLineItemRecord</name>
        <label>Get the OptyLineItemRecord</label>
        <locationX>450</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_quantity_is_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>110</locationX>
        <locationY>129</locationY>
        <connector>
            <targetReference>Get_the_OptyLineItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ItemsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LineitemtoAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>MultipleLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
