src/flows/PLBS_Parent_Opp_Stage_Name_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Awarded_Count_Plus_One</name>
        <label>Awarded Count Plus One</label>
        <locationX>534</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AwardedchildCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Child_St</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Lost_Count_Plus_One</name>
        <label>Close Lost Count Plus One</label>
        <locationX>798</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CloseLostCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Child_St</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Parent_Opp_Id</name>
        <label>Get Parent Opp Id</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>ParentOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_child_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Child_Count_Plus_One</name>
        <label>Total Child Count Plus One</label>
        <locationX>798</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TotalChildCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Awarded_Stage_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Awarded_Stage_Name</name>
        <label>Check Awarded Stage Name</label>
        <locationX>798</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Count_Child_St</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Awarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Child_St.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awarded_Count_Plus_One</targetReference>
            </connector>
            <label>Awarded</label>
        </rules>
        <rules>
            <name>Close_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Child_St.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Lost_Count_Plus_One</targetReference>
            </connector>
            <label>Close Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Parent_Opp_Stage_Name</name>
        <label>Update Parent Opp Stage Name</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Awarded_Total_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AwardedchildCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalChildCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Opp_Stage_Close_Won</targetReference>
            </connector>
            <label>Awarded = Total Count</label>
        </rules>
        <rules>
            <name>Close_Lost_Total_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseLostCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalChildCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Stage_Name_Close_Lost</targetReference>
            </connector>
            <label>Close Lost = Total Count</label>
        </rules>
        <rules>
            <name>Awarded_0_And_NOT_Equal_Total_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AwardedchildCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AwardedchildCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TotalChildCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Opp_Stage_Partial_Won</targetReference>
            </connector>
            <label>Awarded &gt; 0 And NOT Equal Total Count</label>
        </rules>
    </decisions>
    <interviewLabel>PLBS Parent Opp Stage Name Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PLBS Parent Opp Stage Name Automation</label>
    <loops>
        <name>Count_Child_St</name>
        <label>Child Stage Name Count</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_child_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Child_Count_Plus_One</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Opp_Stage_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_child_Opp</name>
        <label>Get All child Opp</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Child_St</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Opp_Stage_Close_Won</name>
        <label>Update Parent Opp Stage Close Won</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closing Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Opp_Stage_Partial_Won</name>
        <label>Update Parent Opp Stage Partial Won</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Partial Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Stage_Name_Close_Lost</name>
        <label>Update Parent Stage Name Close Lost</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Opp_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AwardedchildCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CloseLostCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParentOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalChildCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
