src/flows/PolicyCondition_UwpjQwJMIUSxGEKTdCCU.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>EvaluationOutcomeAssignment</name>
        <label>EvaluationOutcomeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EvaluationOutcomeAssignmentFalse</name>
        <label>EvaluationOutcomeAssignmentFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EvaluationOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EvaluationOutcomeAssignmentFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 ) AND 5 AND 6 AND 7 AND 8 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_myEvent.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReportExported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReportRunUsingSynchronousApi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReportRunUsingAsynchronousApi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReportRunFromRestApi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.EventSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.SourceIp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>34.199.154.205</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.SourceIp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>34.227.170.211</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.SourceIp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>54.172.219.53</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.SourceIp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>52.20.105.190</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_myEvent.SourceIp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>52.3.11.217</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EvaluationOutcomeAssignment</targetReference>
            </connector>
            <label xsi:nil="true"/>
        </rules>
    </decisions>
    <interviewLabel>PolicyCondition_UwpjQwJMIUSxGEKTdCCU</interviewLabel>
    <label>PolicyCondition_UwpjQwJMIUSxGEKTdCCU</label>
    <processType>TransactionSecurityFlow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EvaluationOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportEvent</objectType>
    </variables>
</Flow>
