src/flows/Prevent_Non_Team_Member_From_Creating_Consumption.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_False_to_User_is_Account_Team_Member_Checkbox</name>
        <label>Assign Falseto User is Account Team Member Checkbox</label>
        <locationX>546</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Is_Account_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_True_to_User_is_Account_Team_Member_Checkbox</name>
        <label>Assign True to User is Account Team Member Checkbox</label>
        <locationX>663</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Is_Account_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_user_in_teams</name>
        <label>Is user in teams</label>
        <locationX>411</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Assign_False_to_User_is_Account_Team_Member_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User not Team Member</defaultConnectorLabel>
        <rules>
            <name>User_is_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughAllMembers.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_True_to_User_is_Account_Team_Member_Checkbox</targetReference>
            </connector>
            <label>User is Team Member</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Prevent Non Team Member From Creating Consumption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prevent Non Team Member From Creating Consumption</label>
    <loops>
        <name>LoopThroughAllMembers</name>
        <label>LoopThroughAllMembers</label>
        <locationX>206</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_user_in_teams</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Team_Members</name>
        <label>Get Team Members</label>
        <locationX>163</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughAllMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Teams__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRecord</name>
        <label>GetAccountRecord</label>
        <locationX>43</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccountRecord</targetReference>
        </connector>
        <object>Consumption__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
