src/flows/Quote_Status_Update_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Accepted_Count_Plus_One</name>
        <label>Accepted Count Plus One</label>
        <locationX>798</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AcceptedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_Progress_Count_Plus_One</name>
        <label>In Progress Count Plus One</label>
        <locationX>1854</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>InProgressCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N_A_Count_Plus_One</name>
        <label>N/A Count Plus One</label>
        <locationX>2118</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Started_Count_Plus_One</name>
        <label>Not Started Count Plus One</label>
        <locationX>1590</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>NotStartedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recalled_Count_Plus_One</name>
        <label>Recalled Count Plus One</label>
        <locationX>1326</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>RecalledCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected_Count_Plus_One</name>
        <label>Rejected Count Plus One</label>
        <locationX>1062</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>RejectedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Id</name>
        <label>Set Quote Id</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Line_Item_Count</name>
        <label>Total Line Item Count</label>
        <locationX>1590</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TotalLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Status_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Status_Details</name>
        <label>Count Status Details</label>
        <locationX>1590</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Line_Item_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Item_List.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accepted_Count_Plus_One</targetReference>
            </connector>
            <label>Status Accepted</label>
        </rules>
        <rules>
            <name>Status_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Item_List.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Count_Plus_One</targetReference>
            </connector>
            <label>Status Rejected</label>
        </rules>
        <rules>
            <name>Status_Recalled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Item_List.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalled_Count_Plus_One</targetReference>
            </connector>
            <label>Status Recalled</label>
        </rules>
        <rules>
            <name>Status_Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Item_List.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Started_Count_Plus_One</targetReference>
            </connector>
            <label>Status Not Started</label>
        </rules>
        <rules>
            <name>Status_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Item_List.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Count_Plus_One</targetReference>
            </connector>
            <label>Status In Progress</label>
        </rules>
        <rules>
            <name>Status_N_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Line_Item_List.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>N_A_Count_Plus_One</targetReference>
            </connector>
            <label>Status N/A</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Status_Decision</name>
        <label>Quote Status Decision</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AcceptedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllAccepted</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NACount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_Approved</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RejectedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllRejected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Status_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Partially_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RejectedCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InProgressCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Status_Partially_Rejected</targetReference>
            </connector>
            <label>Partially Rejected</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InProgressCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Status_In_Progress</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Not_Started</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NotStartedCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalLineItem</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NotStartedCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_Not_Started</targetReference>
            </connector>
            <label>Not Started</label>
        </rules>
    </decisions>
    <formulas>
        <name>AllAccepted</name>
        <dataType>Number</dataType>
        <expression>{!TotalLineItem} - {!RecalledCount} - {!NACount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AllRejected</name>
        <dataType>Number</dataType>
        <expression>{!TotalLineItem} - {!RecalledCount} - {!NACount}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quote Status Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Status Update Flow</label>
    <loops>
        <name>Loop_Quote_Line_Item_List</name>
        <label>Loop Quote Line Item List</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <collectionReference>Quote_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Line_Item_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quote_Status_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Quote_Line_Item</name>
        <label>Quote Line Item</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Line_Item_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Quote_Status_In_Progress</name>
        <label>Quote Status In Review</label>
        <locationX>842</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Quote_Status_Partially_Rejected</name>
        <label>Quote Status Partially Rejected</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Partially Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Quote_Status_Rejected</name>
        <label>Quote Status Rejected</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Status_Approved</name>
        <label>Update Quote Status Approved</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Status_to_Not_Started</name>
        <label>Update Quote Status to Not Started</label>
        <locationX>1106</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Quote_Id</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AcceptedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InProgressCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NACount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NotStartedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecalledCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RejectedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalLineItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
