src/flows/Sample_Sent_Notification_to_Account_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Olam_CustomNotification</name>
        <label>Olam CustomNotification</label>
        <locationX>971</locationX>
        <locationY>248</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>OlamNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Status_Change_0</name>
        <label>Status Change</label>
        <locationX>733</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SamplingStatusMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryAccountOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Olam_CustomNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Primary_Account_Owner_is_not_Blank</name>
        <label>Check If Primary Account Owner is not Blank</label>
        <locationX>459</locationX>
        <locationY>82</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimaryAccountOwnerNot_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryAccountOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>PrimaryAccountOwnerNot Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>457</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Samples_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SamplingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samples Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Change_0</targetReference>
            </connector>
            <label>Samples Sent</label>
        </rules>
    </decisions>
    <formulas>
        <name>NotificationOwnerId</name>
        <dataType>String</dataType>
        <expression>{!PrimaryAccountOwnerId}</expression>
    </formulas>
    <formulas>
        <name>OlamNotificationID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Olam_Notification_ID}</expression>
    </formulas>
    <formulas>
        <name>SamplingStatusMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.Sampling_Status_Message}</expression>
    </formulas>
    <interviewLabel>Sample Sent Notification to Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample Sent Notification to Account Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_ID</name>
        <label>Get Opportunity ID</label>
        <locationX>266</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Primary_Account_Owner_is_not_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>PrimaryAccountOwnerId</assignToReference>
            <field>Primary_Account_Owner_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Item</name>
        <label>Get Opportunity Line Item</label>
        <locationX>127</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>OpportunityID</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SamplingStatus</assignToReference>
            <field>Sampling_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>39</locationX>
        <locationY>87</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A new Opty has been created for this Account &quot;https://olamdev--olamcrmdev.lightning.force.com/lightning/r/Opportunity[{!recordId}]&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecepientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SamplingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
