src/flows/Send_Chatter_Notification_to_Account_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Olam_CustomNotification</name>
        <label>Olam CustomNotification</label>
        <locationX>971</locationX>
        <locationY>248</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>OlamNotificationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>757</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpportunityNotificationMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryAccountOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Olam_CustomNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>837</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>NotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityStatusChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecepientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryAccountOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Olam_CustomNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Primary_Account_Owner_is_not_Blank</name>
        <label>Check If Primary Account Owner is not Blank</label>
        <locationX>459</locationX>
        <locationY>82</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimaryAccountOwnerNot_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryAccountOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>PrimaryAccountOwnerNot Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>467</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Briefing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Briefing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opportunity</targetReference>
            </connector>
            <label>Briefing</label>
        </rules>
    </decisions>
    <description>when a new opportunity is created or when the opportunity stage changes</description>
    <formulas>
        <name>NewOpportunityNotificationMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.New_Opportunity_Notification}</expression>
    </formulas>
    <formulas>
        <name>NotificationOwnerId</name>
        <dataType>String</dataType>
        <expression>{!PrimaryAccountOwnerId}</expression>
    </formulas>
    <formulas>
        <name>OlamNotificationID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Olam_Notification_ID}</expression>
    </formulas>
    <formulas>
        <name>OlamURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.Olam_URL}</expression>
    </formulas>
    <formulas>
        <name>OpportunityStatusChange</name>
        <dataType>String</dataType>
        <expression>{!$Label.Opportunity_Status_Change}</expression>
    </formulas>
    <interviewLabel>Send Chatter Notification to Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Custom Notification to Account Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_ID</name>
        <label>Get Opportunity ID</label>
        <locationX>266</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Primary_Account_Owner_is_not_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>PrimaryAccountOwnerId</assignToReference>
            <field>Primary_Account_Owner_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>121</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Get_Opportunity_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A new Opty has been created for this Account &quot;https://olamdev--olamcrmdev.lightning.force.com/lightning/r/Opportunity[{!recordId}]&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecepientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
